:root {
  --primary-text-color:#212121;
  --title-text-color:#757575;
  --accent-color:#2196F3;
  --primary-white-color: #FFFFFF;
}

body {
  
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}


.logo {
    color: var(--accent-color);

    font-family: Raleway;
    font-weight: 700;
    font-size:  26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.first-part {
color:var(--primary-text-color);
  
Font-family: Raleway;
Font-weight: 700;
font-size: 26px;
line-height: 1.19;
Letter-spacing: 0.03em;
}

.last-part {
  background-color: #2F303A ;  
  color:var(--primary-white-color);

Font-Family: Raleway;
font-weight:700;
font-size: 26px;
line-height:  1.19;
Letter-spacing: 0.03em;
}


.link-page{
  color:var(--primary-text-color);

  font-family: Roboto;
  font-weight: 500;
  Font-size: 14px;
  line-height: 1.14;
  Letter-spacing: 0.02em;
}
.link-page:hover,
.link-page:focus
{color: var(--accent-color);
}
.link.current{
  color: var(--accent-color);

}

.link-page-studio{
  color:var(--primary-text-color); 
font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing:  0.02em;
}

.link-page-contact {
  color:var(--primary-text-color); 
font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing:  0.02em;
}


.link-contacts{

color:var(--primary-text-color);
font-family: Roboto;
font-weight:  500;
font-size:  14px;
line-height: 1.14;
letter-spacing:  0.02em
}
.link-contacts:hover{
  color: var(--accent-color);
}

.link-contacts-mail,
.link-contacts-tel {
  color:var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing:  0.02em;
}

.banner {
  background-color:#2F303A
 
}
.banner-title{
  color:var(--primary-white-color);
  Font-family: Roboto;
  font-weight: 900;
  Font-size: 44px;
  Line-height: 1.36;
  letter-spacing:  0.06em;
}


.button {
  background-color:var(--accent-color);
  color:var(--primary-white-color);
  font-family: Roboto;
  font-weight: 700;
  Font-size: 16px;
  Line-height: 1.87;
  Letter-spacing: 0.06em;
}

.benefits {

  color: #757575 ;
  color: #212121 ;

  Font-family: Roboto;
font-weight: 700;
Font-size: 14px;
Line-height: 1.14;
letter-spacing:  0.03em;
}


.benefits-details,
.benefits-punctuality,
.benefits-planning,
.benefits-technologies 
{
  color: var(--primary-text-color); 
  Font-family: Roboto;
font-weight: 700;
Font-size: 14px;
Line-height: 1.14;
letter-spacing:  0.03em;
}


.benefits-text {
  color:var(--title-text-color);
Font-family:  Roboto;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing:  0.03em;
}

.team-title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  Line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-name {
  color: var(--primary-text-color);
  font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}

.team-job {
  color: var(--title-text-color);
  font-family: Roboto;
font-weight: 400;
font-size: 16px;
Line-height: 1.18;
letter-spacing: 0.03em;
}

.footer{
  background-color: #2F303A;
}
.address{
  color:var(--primary-white-color) ;
  font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.mail,
.tel{
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.task{
  background-color:#F5F4FA ;
  color: var(--primary-text-color);
  font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}
.tast:hover{
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}
.img {
  color: var(--primary-text-color);
  font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;

}
.description {
  color: var(--title-text-color);
  font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}