:root {
  --primary-text-color:#212121;
  --title-text-color:#757575;
  --accent-color:#2196F3;
  --primary-white-color: #FFFFFF;
}

body {
  
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: -0.03em;
  font-size: 14px;
  line-height: 1.71;
}


.logo {
    color:#2196F3;

    font-family: Raleway;
    font-weight: 700;
    font-size:  26px;
    line-height: 1.19%;
    letter-spacing: 0.03em;
}
.first-part {
color: #2196F3;
  
Font-family: Raleway;
Font-weight: 700;
font-size: 26px;
line-height: 1.19%;
Letter-spacing: 0.03em;
}

.last-part {
    color: #000000;

Font-Family: Raleway;
font-weight:700;
font-size: 26px;
line-height:  1.19%;
Letter-spacing: 0.03em;
}


.link-page{
  color:#212121; 

  font-family: Roboto;
  font-weight: 500;
  Font-size: 14px;
  line-height: 1.14%;
  Letter-spacing: 0.02em;
}

.link-page-studio{
  color:#212121; 
font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing:  0.02em;
}

.link-page-contact {
  color:#212121;
font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing:  0.02em;
}


.link-contacts{
color: #2196F3;
color: #212121;
font-family: Roboto;
font-weight:  500;
font-size:  14px;
line-height: 1.14;
letter-spacing:  0.02em
}


.link-contacts-mail {
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing:  0.02em;
}


.link-contacts-tel {
  color: #757575;
font-family: Roboto;
font-weight: 500;
Font-size: 14px;
Line-height: 1.14;
Letter-spacing: 0.02em;
}
.banner {
  background-color: #000000;
  color:#FFFFFF ;
  Font-family: Roboto;
  font-weight: 900;
  Font-size: 44px;
  Line-height: 1.36;
  letter-spacing:  0.06em;
}

.button {
  background-color:#2196F3;
  color:#FFFFFF ;
  font-family: Roboto;
  font-weight: 700;
  Font-size: 16px;
  Line-height: 1.87;
  Letter-spacing: 0.06em;
}

.benefits {

  color: #757575 ;
  color: #212121 ;

  Font-family: Roboto;
font-weight: 700;
Font-size: 14px;
Line-height: 1.14;
letter-spacing:  0.03em;
}


.benefits-details {
  color: #212121;
  Font-family: Roboto;
font-weight: 700;
Font-size: 14px;
Line-height: 1.14;
letter-spacing:  0.03em;
}


.benefits-punctuality {
  color: #212121;
  Font-family: Roboto;
font-weight: 700;
Font-size: 14px;
Line-height: 1.14;
letter-spacing:  0.03em;
}

.benefits-planning {
  color: #212121;

Font-family: Roboto;
font-weight: 700;
Font-size: 14px;
Line-height: 1.14;
letter-spacing: 0.03em;
}


.benefits-technologies {
color: #212121;

font-family: Roboto;
font-weight: 700;
Font-size: 14px;
Line-height: 1.14;
letter-spacing: 0.03em;
}

.benefits-text {
  color: #757575;
Font-family:  Roboto;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing:  0.03em;
}