:root {
  --primary-text-color:#212121;
  --title-text-color:#757575;
  --accent-color:#2196F3;
  --primary-white-color: #FFFFFF;
}

body {
  background-color: var(--primary-white-color);
  color:var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.logo {
    color: var(--accent-color);

    font-family: Raleway;
    font-weight: 700;
    font-size:  26px;
    line-height: 1.19;
    text-decoration: none;
}


.first-part {
  color:#000000;
  Font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}



.last-part {
  color: var(--primary-white-color);
}

.link-page {
  text-decoration:none;
  list-style: none;
}
.link-page-contact,
.link-page-portfolio,
.link-page-studio,
.link-curren {
  text-decoration: none;
}


.link-page-studio:hover,
.link-page-portfolio:hover,
.link-page-contact:hover 
{color: var(--accent-color)
 }


.link-page-studio:focus,
.link-page-portfolio:focus,
.link-page-contacts:focus
{color: var(--accent-color);
}




.link.current {
  color: var(--accent-color);
  text-decoration: none;
}


.link-contacts{
line-height: 1.14;
letter-spacing:  0.02em;
list-style: none;
}
.link-contacts-mail,
.link-contacts-tel{
  text-decoration: none;
}

.link-contacts-mail:hover,
.link-contacts-tel:hover{
  color: var(--accent-color);
}

.link-contacts-mail:focus,
.link-contacts-tel:focus{
  color: var(--accent-color);
}

.link-contacts-mail,
.link-contacts-tel {
  color:var(--title-text-color);
  line-height: 1.14;
  letter-spacing:  0.02em;
}


.banner {
  background-color:#2F303A
 }


 .banner-title{
  color:var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing:  0.06em;
}


.button {
  background-color:var(--accent-color);
  color:var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

}


.button:active{
  background-color: #188CE8;
}


.benefits-type{
  list-style: none;
}


.benefits-details,
.benefits-punctuality,
.benefits-planning,
.benefits-technologies 
{color: var(--primary-text-color);
font-weight: 700;
line-height: 1.14;
list-style: none;
}


.benefits-text {
color:var(--title-text-color);
font-weight: 400;
}
.work-type
{
  list-style: none;
}

.team-type{
  background-color: #F5F4FA;
}




.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.card{
  background-color:var(--primary-white-color) ;
  width: 270px;
  list-style: none;
  }


.team-name {
font-size: 16px;
line-height: 1.18;
}



.team-job {
  color: var(--title-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.18;
}

.poster{
background-color:var(--primary-white-color) ;
width: 370px;
}


.footer{
  background-color: #2F303A;
}

.address{
  font-weight: 400;
  list-style: none
}

.address-type{
 color: var(--primary-white-color);
 text-decoration: none;
}
.address-mail,
.address-tel {
  color:rgba(255, 255, 255, 0.6);
font-weight: 400;
text-decoration: none;
}


.task{
  background-color:#F5F4FA ;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
}


.tast:hover{
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}



.img {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;

}


.description {
  color: var(--title-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



